.cm-s-obsidian span.cm-link:not(.cm-formatting-link) .cm-underline,
.cm-s-obsidian span.cm-hmd-internal-link .cm-underline {
  /* text-shadow: -1px -1px 2px var(--background-secondary), -1px 1px 2px var(--background-secondary), 1px -1px 2px var(--background-secondary), 1px 1px 2px var(--background-secondary); */
  color: var(--text-normal);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 5px;
  text-decoration: none;
}
